.overview-container{
    background-image: url('../../../images/overviewBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.overview-container div{
    background-color: rgba(34, 53, 56, 0.671);
    color: white;
}

