.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.service-title h1{
    font-family: 'Righteous', cursive;
}
.service-title span{
    color: rgb(7, 7, 105);
}

