.reason-title h1{
    font-family: 'Righteous', cursive;
}
.reason-title span{
    color: rgb(7, 7, 105);
}
.characteristics h5{
    font-family: 'Righteous', cursive;
    color: rgba(27, 27, 168, 0.904);
}